* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.hangman {
  width: 745px;
  height: 476px;
  position: relative;
  background-color: rgb(255, 255, 255);

}

figure {
  width: 400px;
  height: 476px;
}

figure img {
  width: 100%;
  height: auto;
}
.hangman button {
  width: 170px;
  height: 50px;
  color: white;
  background-color: rgb(42, 174, 96);
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 40px;
}
.hangman button:hover,
.keyboard button:hover,
.guesswork button:hover {
  filter: brightness(70%);
}
.word {
  position: absolute;
  bottom: 30px;
  right: 40px;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 8px;
  color: black;
}
.wentWrong {
  position: absolute;
  bottom: 30px;
  right: 40px;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 3px;
  color: red;
}
.wentRight {
  position: absolute;
  bottom: 30px;
  right: 40px;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 3px;
  color: rgb(42, 174, 96);
}
.keyboard {
  width: 660px;
  height: 110px;
  margin-top: 55px;
  background-color: rgb(255, 255, 255);
}

.guesswork button {
  border: 1px solid rgb(57, 115, 157);
  color: rgb(57, 115, 157);
  background-color: rgb(225, 236, 245);
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.enabled {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 3px;
  border: 1px solid rgb(57, 115, 157);
  color: rgb(57, 115, 157);
  background-color: rgb(225, 236, 245);
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}
.disabled {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 3px;
    border: none;
    color:rgb(125, 129, 138);
    background-color: rgb(159, 170, 181);
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}
.guesswork {
  margin-top: 32px;
}

.guesswork label {
  font-size: 20px;
}
.guesswork input {
  width: 325px;
  height: 35px;
  border: 2px solid black;
  border-radius: 3px;
  margin-left: 15px;
  font-size: 20px;
  padding-left: 10px;
}
.guesswork input:focus {
  outline: 3px solid rgb(57, 115, 157);
  border: none;
  letter-spacing: 1px;
}
.guesswork button {
  width: 75px;
  height: 40px;
  margin-left: 18px;
  border-radius: 5px;
}
